
*.*~
*.DS_Store
*.class
*.db
*.egg
*.egg-info
*.externalToolBuilders
*.gem
*.iml
*.ipr
*.iws
*.log
*.mo
*.project
*.py[cod]
*.rbc
*.settings
*.so
.DS_Store
.RData
.Rapp.history
.Rhistory
.bundle
.config
.coverage
.idea
.idea/
.installed.cfg
.metadata
.mr.developer.cfg
.project
.pydevproject
.scala_dependencies
.tox
.yardoc
InstalledFiles
R/adding_networks.R
[0-9]*
_yardoc
build
config.yaml
coverage
develop-eggs
dist
dist/*
doc/
eggs
lib
lib/bundler/man
lib64
lib_managed/
nosetests.xml
parts
pip-log.txt
pkg
project/boot/
project/plugins/project/
rdoc
sdist
spec/reports
src_managed/
target/
test/tmp
test/version_tmp
tmp
var
